HolidayReservationClient/src/META-INF/wsdl/haiyandemacbook-pro.local_8080/SOAPWebService/SOAPWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="SOAPWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://haiyandemacbook-pro.local:8080/SOAPWebService/SOAPWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="getTotalAmount">
<part name="parameters" element="tns:getTotalAmount"/>
</message>
<message name="getTotalAmountResponse">
<part name="parameters" element="tns:getTotalAmountResponse"/>
</message>
<message name="searchHotelRoom">
<part name="parameters" element="tns:searchHotelRoom"/>
</message>
<message name="searchHotelRoomResponse">
<part name="parameters" element="tns:searchHotelRoomResponse"/>
</message>
<message name="retrievePartnerReservationById">
<part name="parameters" element="tns:retrievePartnerReservationById"/>
</message>
<message name="retrievePartnerReservationByIdResponse">
<part name="parameters" element="tns:retrievePartnerReservationByIdResponse"/>
</message>
<message name="retrieveAllPartnerReservations">
<part name="parameters" element="tns:retrieveAllPartnerReservations"/>
</message>
<message name="retrieveAllPartnerReservationsResponse">
<part name="parameters" element="tns:retrieveAllPartnerReservationsResponse"/>
</message>
<message name="reservePartnerRoom">
<part name="parameters" element="tns:reservePartnerRoom"/>
</message>
<message name="reservePartnerRoomResponse">
<part name="parameters" element="tns:reservePartnerRoomResponse"/>
</message>
<portType name="SOAPWebService">
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/SOAPWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/SOAPWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/SOAPWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getTotalAmount">
<input wsam:Action="http://ws.session.ejb/SOAPWebService/getTotalAmountRequest" message="tns:getTotalAmount"/>
<output wsam:Action="http://ws.session.ejb/SOAPWebService/getTotalAmountResponse" message="tns:getTotalAmountResponse"/>
</operation>
<operation name="searchHotelRoom">
<input wsam:Action="http://ws.session.ejb/SOAPWebService/searchHotelRoomRequest" message="tns:searchHotelRoom"/>
<output wsam:Action="http://ws.session.ejb/SOAPWebService/searchHotelRoomResponse" message="tns:searchHotelRoomResponse"/>
</operation>
<operation name="retrievePartnerReservationById">
<input wsam:Action="http://ws.session.ejb/SOAPWebService/retrievePartnerReservationByIdRequest" message="tns:retrievePartnerReservationById"/>
<output wsam:Action="http://ws.session.ejb/SOAPWebService/retrievePartnerReservationByIdResponse" message="tns:retrievePartnerReservationByIdResponse"/>
</operation>
<operation name="retrieveAllPartnerReservations">
<input wsam:Action="http://ws.session.ejb/SOAPWebService/retrieveAllPartnerReservationsRequest" message="tns:retrieveAllPartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/SOAPWebService/retrieveAllPartnerReservationsResponse" message="tns:retrieveAllPartnerReservationsResponse"/>
</operation>
<operation name="reservePartnerRoom">
<input wsam:Action="http://ws.session.ejb/SOAPWebService/reservePartnerRoomRequest" message="tns:reservePartnerRoom"/>
<output wsam:Action="http://ws.session.ejb/SOAPWebService/reservePartnerRoomResponse" message="tns:reservePartnerRoomResponse"/>
</operation>
</portType>
<binding name="SOAPWebServicePortBinding" type="tns:SOAPWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getTotalAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchHotelRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrievePartnerReservationById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllPartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reservePartnerRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SOAPWebService">
<port name="SOAPWebServicePort" binding="tns:SOAPWebServicePortBinding">
<soap:address location="http://haiyandemacbook-pro.local:8080/SOAPWebService/SOAPWebService"/>
</port>
</service>
</definitions>