HoidayReservationSystemClient/src/conf/wsdl/localhost_8080/HolidayReservationWebService/HolidayReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HolidayReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HolidayReservationWebService/HolidayReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveRoomRateByRoomType">
<part name="parameters" element="tns:retrieveRoomRateByRoomType"/>
</message>
<message name="retrieveRoomRateByRoomTypeResponse">
<part name="parameters" element="tns:retrieveRoomRateByRoomTypeResponse"/>
</message>
<message name="retrieveAllRooms">
<part name="parameters" element="tns:retrieveAllRooms"/>
</message>
<message name="retrieveAllRoomsResponse">
<part name="parameters" element="tns:retrieveAllRoomsResponse"/>
</message>
<message name="retrieveRoomByRoomType">
<part name="parameters" element="tns:retrieveRoomByRoomType"/>
</message>
<message name="retrieveRoomByRoomTypeResponse">
<part name="parameters" element="tns:retrieveRoomByRoomTypeResponse"/>
</message>
<message name="retrieveAllAvailableRooms">
<part name="parameters" element="tns:retrieveAllAvailableRooms"/>
</message>
<message name="retrieveAllAvailableRoomsResponse">
<part name="parameters" element="tns:retrieveAllAvailableRoomsResponse"/>
</message>
<message name="retrieveAvailableRoomsByRoomType">
<part name="parameters" element="tns:retrieveAvailableRoomsByRoomType"/>
</message>
<message name="retrieveAvailableRoomsByRoomTypeResponse">
<part name="parameters" element="tns:retrieveAvailableRoomsByRoomTypeResponse"/>
</message>
<message name="retrieveAllRoomTypes">
<part name="parameters" element="tns:retrieveAllRoomTypes"/>
</message>
<message name="retrieveAllRoomTypesResponse">
<part name="parameters" element="tns:retrieveAllRoomTypesResponse"/>
</message>
<message name="retrieveRoomRateById">
<part name="parameters" element="tns:retrieveRoomRateById"/>
</message>
<message name="retrieveRoomRateByIdResponse">
<part name="parameters" element="tns:retrieveRoomRateByIdResponse"/>
</message>
<message name="RoomRateNotFoundException">
<part name="fault" element="tns:RoomRateNotFoundException"/>
</message>
<message name="retrieveAllRoomRates">
<part name="parameters" element="tns:retrieveAllRoomRates"/>
</message>
<message name="retrieveAllRoomRatesResponse">
<part name="parameters" element="tns:retrieveAllRoomRatesResponse"/>
</message>
<message name="retrieveAllNormalRate">
<part name="parameters" element="tns:retrieveAllNormalRate"/>
</message>
<message name="retrieveAllNormalRateResponse">
<part name="parameters" element="tns:retrieveAllNormalRateResponse"/>
</message>
<message name="retrieveAllPromotionRate">
<part name="parameters" element="tns:retrieveAllPromotionRate"/>
</message>
<message name="retrieveAllPromotionRateResponse">
<part name="parameters" element="tns:retrieveAllPromotionRateResponse"/>
</message>
<message name="retrieveAllPeakRate">
<part name="parameters" element="tns:retrieveAllPeakRate"/>
</message>
<message name="retrieveAllPeakRateResponse">
<part name="parameters" element="tns:retrieveAllPeakRateResponse"/>
</message>
<message name="retrieveAllRoomRate">
<part name="parameters" element="tns:retrieveAllRoomRate"/>
</message>
<message name="retrieveAllRoomRateResponse">
<part name="parameters" element="tns:retrieveAllRoomRateResponse"/>
</message>
<message name="retrieveRoomTypeById">
<part name="parameters" element="tns:retrieveRoomTypeById"/>
</message>
<message name="retrieveRoomTypeByIdResponse">
<part name="parameters" element="tns:retrieveRoomTypeByIdResponse"/>
</message>
<message name="RoomTypeNotFoundException">
<part name="fault" element="tns:RoomTypeNotFoundException"/>
</message>
<message name="retrieveRoomTypeByName">
<part name="parameters" element="tns:retrieveRoomTypeByName"/>
</message>
<message name="retrieveRoomTypeByNameResponse">
<part name="parameters" element="tns:retrieveRoomTypeByNameResponse"/>
</message>
<message name="retrieveAllEnabledRoomTypes">
<part name="parameters" element="tns:retrieveAllEnabledRoomTypes"/>
</message>
<message name="retrieveAllEnabledRoomTypesResponse">
<part name="parameters" element="tns:retrieveAllEnabledRoomTypesResponse"/>
</message>
<message name="retrieveReservationLineItemById">
<part name="parameters" element="tns:retrieveReservationLineItemById"/>
</message>
<message name="retrieveReservationLineItemByIdResponse">
<part name="parameters" element="tns:retrieveReservationLineItemByIdResponse"/>
</message>
<message name="ReservationLineItemNotFoundException">
<part name="fault" element="tns:ReservationLineItemNotFoundException"/>
</message>
<message name="createReservationLineItem">
<part name="parameters" element="tns:createReservationLineItem"/>
</message>
<message name="createReservationLineItemResponse">
<part name="parameters" element="tns:createReservationLineItemResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="retrievePartnerReservationById">
<part name="parameters" element="tns:retrievePartnerReservationById"/>
</message>
<message name="retrievePartnerReservationByIdResponse">
<part name="parameters" element="tns:retrievePartnerReservationByIdResponse"/>
</message>
<message name="retrieveAllPartnerReservations">
<part name="parameters" element="tns:retrieveAllPartnerReservations"/>
</message>
<message name="retrieveAllPartnerReservationsResponse">
<part name="parameters" element="tns:retrieveAllPartnerReservationsResponse"/>
</message>
<message name="createRoomReservationLineItem">
<part name="parameters" element="tns:createRoomReservationLineItem"/>
</message>
<message name="createRoomReservationLineItemResponse">
<part name="parameters" element="tns:createRoomReservationLineItemResponse"/>
</message>
<message name="chooseRoomRate">
<part name="parameters" element="tns:chooseRoomRate"/>
</message>
<message name="chooseRoomRateResponse">
<part name="parameters" element="tns:chooseRoomRateResponse"/>
</message>
<message name="totalAmount">
<part name="parameters" element="tns:totalAmount"/>
</message>
<message name="totalAmountResponse">
<part name="parameters" element="tns:totalAmountResponse"/>
</message>
<message name="retrieveAllReservationLineItems">
<part name="parameters" element="tns:retrieveAllReservationLineItems"/>
</message>
<message name="retrieveAllReservationLineItemsResponse">
<part name="parameters" element="tns:retrieveAllReservationLineItemsResponse"/>
</message>
<message name="createPartnerReservation">
<part name="parameters" element="tns:createPartnerReservation"/>
</message>
<message name="createPartnerReservationResponse">
<part name="parameters" element="tns:createPartnerReservationResponse"/>
</message>
<portType name="HolidayReservationWebService">
<operation name="retrieveRoomRateByRoomType">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveRoomRateByRoomTypeRequest" message="tns:retrieveRoomRateByRoomType"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveRoomRateByRoomTypeResponse" message="tns:retrieveRoomRateByRoomTypeResponse"/>
</operation>
<operation name="retrieveAllRooms">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllRoomsRequest" message="tns:retrieveAllRooms"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllRoomsResponse" message="tns:retrieveAllRoomsResponse"/>
</operation>
<operation name="retrieveRoomByRoomType">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveRoomByRoomTypeRequest" message="tns:retrieveRoomByRoomType"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveRoomByRoomTypeResponse" message="tns:retrieveRoomByRoomTypeResponse"/>
</operation>
<operation name="retrieveAllAvailableRooms">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllAvailableRoomsRequest" message="tns:retrieveAllAvailableRooms"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllAvailableRoomsResponse" message="tns:retrieveAllAvailableRoomsResponse"/>
</operation>
<operation name="retrieveAvailableRoomsByRoomType">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAvailableRoomsByRoomTypeRequest" message="tns:retrieveAvailableRoomsByRoomType"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAvailableRoomsByRoomTypeResponse" message="tns:retrieveAvailableRoomsByRoomTypeResponse"/>
</operation>
<operation name="retrieveAllRoomTypes">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllRoomTypesRequest" message="tns:retrieveAllRoomTypes"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllRoomTypesResponse" message="tns:retrieveAllRoomTypesResponse"/>
</operation>
<operation name="retrieveRoomRateById">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveRoomRateByIdRequest" message="tns:retrieveRoomRateById"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveRoomRateByIdResponse" message="tns:retrieveRoomRateByIdResponse"/>
<fault message="tns:RoomRateNotFoundException" name="RoomRateNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveRoomRateById/Fault/RoomRateNotFoundException"/>
</operation>
<operation name="retrieveAllRoomRates">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllRoomRatesRequest" message="tns:retrieveAllRoomRates"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllRoomRatesResponse" message="tns:retrieveAllRoomRatesResponse"/>
</operation>
<operation name="retrieveAllNormalRate">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllNormalRateRequest" message="tns:retrieveAllNormalRate"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllNormalRateResponse" message="tns:retrieveAllNormalRateResponse"/>
</operation>
<operation name="retrieveAllPromotionRate">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllPromotionRateRequest" message="tns:retrieveAllPromotionRate"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllPromotionRateResponse" message="tns:retrieveAllPromotionRateResponse"/>
</operation>
<operation name="retrieveAllPeakRate">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllPeakRateRequest" message="tns:retrieveAllPeakRate"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllPeakRateResponse" message="tns:retrieveAllPeakRateResponse"/>
</operation>
<operation name="retrieveAllRoomRate">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllRoomRateRequest" message="tns:retrieveAllRoomRate"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllRoomRateResponse" message="tns:retrieveAllRoomRateResponse"/>
</operation>
<operation name="retrieveRoomTypeById">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveRoomTypeByIdRequest" message="tns:retrieveRoomTypeById"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveRoomTypeByIdResponse" message="tns:retrieveRoomTypeByIdResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveRoomTypeById/Fault/RoomTypeNotFoundException"/>
</operation>
<operation name="retrieveRoomTypeByName">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveRoomTypeByNameRequest" message="tns:retrieveRoomTypeByName"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveRoomTypeByNameResponse" message="tns:retrieveRoomTypeByNameResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveRoomTypeByName/Fault/RoomTypeNotFoundException"/>
</operation>
<operation name="retrieveAllEnabledRoomTypes">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllEnabledRoomTypesRequest" message="tns:retrieveAllEnabledRoomTypes"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllEnabledRoomTypesResponse" message="tns:retrieveAllEnabledRoomTypesResponse"/>
</operation>
<operation name="retrieveReservationLineItemById">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveReservationLineItemByIdRequest" message="tns:retrieveReservationLineItemById"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveReservationLineItemByIdResponse" message="tns:retrieveReservationLineItemByIdResponse"/>
<fault message="tns:ReservationLineItemNotFoundException" name="ReservationLineItemNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveReservationLineItemById/Fault/ReservationLineItemNotFoundException"/>
</operation>
<operation name="createReservationLineItem">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/createReservationLineItemRequest" message="tns:createReservationLineItem"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/createReservationLineItemResponse" message="tns:createReservationLineItemResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationWebService/createReservationLineItem/Fault/RoomTypeNotFoundException"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/HolidayReservationWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="retrievePartnerReservationById">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrievePartnerReservationByIdRequest" message="tns:retrievePartnerReservationById"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrievePartnerReservationByIdResponse" message="tns:retrievePartnerReservationByIdResponse"/>
</operation>
<operation name="retrieveAllPartnerReservations">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllPartnerReservationsRequest" message="tns:retrieveAllPartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllPartnerReservationsResponse" message="tns:retrieveAllPartnerReservationsResponse"/>
</operation>
<operation name="createRoomReservationLineItem">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/createRoomReservationLineItemRequest" message="tns:createRoomReservationLineItem"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/createRoomReservationLineItemResponse" message="tns:createRoomReservationLineItemResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationWebService/createRoomReservationLineItem/Fault/RoomTypeNotFoundException"/>
<fault message="tns:RoomRateNotFoundException" name="RoomRateNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationWebService/createRoomReservationLineItem/Fault/RoomRateNotFoundException"/>
</operation>
<operation name="chooseRoomRate">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/chooseRoomRateRequest" message="tns:chooseRoomRate"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/chooseRoomRateResponse" message="tns:chooseRoomRateResponse"/>
</operation>
<operation name="totalAmount">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/totalAmountRequest" message="tns:totalAmount"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/totalAmountResponse" message="tns:totalAmountResponse"/>
</operation>
<operation name="retrieveAllReservationLineItems">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllReservationLineItemsRequest" message="tns:retrieveAllReservationLineItems"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/retrieveAllReservationLineItemsResponse" message="tns:retrieveAllReservationLineItemsResponse"/>
</operation>
<operation name="createPartnerReservation">
<input wsam:Action="http://ws.session.ejb/HolidayReservationWebService/createPartnerReservationRequest" message="tns:createPartnerReservation"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationWebService/createPartnerReservationResponse" message="tns:createPartnerReservationResponse"/>
</operation>
</portType>
<binding name="HolidayReservationWebServicePortBinding" type="tns:HolidayReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveRoomRateByRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveRoomByRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllAvailableRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAvailableRoomsByRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllRoomTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveRoomRateById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomRateNotFoundException">
<soap:fault name="RoomRateNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllRoomRates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllNormalRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllPromotionRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllPeakRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllRoomRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveRoomTypeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveRoomTypeByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllEnabledRoomTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReservationLineItemById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationLineItemNotFoundException">
<soap:fault name="ReservationLineItemNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createReservationLineItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="retrievePartnerReservationById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllPartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createRoomReservationLineItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
<fault name="RoomRateNotFoundException">
<soap:fault name="RoomRateNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="chooseRoomRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="totalAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllReservationLineItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPartnerReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HolidayReservationWebService">
<port name="HolidayReservationWebServicePort" binding="tns:HolidayReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/HolidayReservationWebService/HolidayReservationWebService"/>
</port>
</service>
</definitions>