HolidayReservationClient/xml-resources/web-service-references/SOAPWebService/wsdl/haiyandemacbook-pro.local_8080/SOAPWebService/SOAPWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="getTotalAmount" type="tns:getTotalAmount"/>

<xs:element name="getTotalAmountResponse" type="tns:getTotalAmountResponse"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="reservePartnerRoom" type="tns:reservePartnerRoom"/>

<xs:element name="reservePartnerRoomResponse" type="tns:reservePartnerRoomResponse"/>

<xs:element name="retrieveAllPartnerReservations" type="tns:retrieveAllPartnerReservations"/>

<xs:element name="retrieveAllPartnerReservationsResponse" type="tns:retrieveAllPartnerReservationsResponse"/>

<xs:element name="retrievePartnerReservationById" type="tns:retrievePartnerReservationById"/>

<xs:element name="retrievePartnerReservationByIdResponse" type="tns:retrievePartnerReservationByIdResponse"/>

<xs:element name="searchHotelRoom" type="tns:searchHotelRoom"/>

<xs:element name="searchHotelRoomResponse" type="tns:searchHotelRoomResponse"/>

<xs:complexType name="getTotalAmount">
<xs:sequence>
<xs:element name="arg0" type="tns:reservationLineItem" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationLineItem">
<xs:sequence>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="reservationLineItemId" type="xs:long" minOccurs="0"/>
<xs:element name="roomList" type="tns:room" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomRate" type="tns:roomRate" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="room">
<xs:sequence>
<xs:element name="reservation" type="tns:reservationLineItem" minOccurs="0"/>
<xs:element name="roomNumber" type="xs:int" minOccurs="0"/>
<xs:element name="roomStatus" type="xs:string" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomType">
<xs:sequence>
<xs:element name="amenities" type="xs:string" minOccurs="0"/>
<xs:element name="bed" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="roomSize" type="xs:int" minOccurs="0"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomRate" abstract="true">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="ratePerNight" type="xs:decimal" minOccurs="0"/>
<xs:element name="roomRateId" type="xs:long" minOccurs="0"/>
<xs:element name="roomRateStatus" type="xs:string" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTotalAmountResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservePartnerRoom">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="tns:reservationLineItem" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservePartnerRoomResponse">
<xs:sequence>
<xs:element name="return" type="tns:partnerReservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerReservation">
<xs:complexContent>
<xs:extension base="tns:reservation">
<xs:sequence>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="reservation" abstract="true">
<xs:sequence>
<xs:element name="reservationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="reservationLineItems" type="tns:reservationLineItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="partnerReservations" type="tns:partnerReservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchHotelRoom">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchHotelRoomResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationLineItem" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllPartnerReservations">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllPartnerReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:partnerReservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrievePartnerReservationById">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrievePartnerReservationByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:partnerReservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>